/* Estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
        font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
  }
  
  :root {
    /* Colores de fondo */
    --bg-light-green: #1d7208ee;
    --bg-white: #ffffff;
  
    /* Colores de texto */
    --text-white: #f9f9f9;
    --text-yellow: #f1c40f;
    --text-dark: #2e2e2e;
  
    /* Colores complementarios */
    --accent-green: #27ae60;
    --accent-yellow: #f39c12;
  }

  body {
    background-color: var(--bg-light-green);
    color: var(--text-dark);
    font-family: 'Poppins', sans-serif;
  }
  
  h1, h2 {
    color: var(--text-white);
  }
  
  a {
    color: var(--accent-yellow);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--accent-yellow);
  }

  .descripcion-faro {
    font-size: 0.95rem;
    max-width: 900px;
    text-align:center;
    padding: 1rem;
    
  }
  
  
  /* Navbar */
  .navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0  1.5rem;
    background-color: #033b1e;
    height: 70px; 
    overflow: hidden; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  }
  
  .logo img {
    padding: 1rem 0rem 3.2rem 0rem;
    max-height: 140px;
    width: auto;
    display: flex;
    object-fit: contain;
    margin-right: 15px;
  }
  
  
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 3rem;
      }

      .nav-links a,
.nav-links a:visited {
  color: #f1c40f;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 10;
  letter-spacing: 0.5px;
}

      
      .nav-links a:hover {
        color: #ffffff;
        border-bottom: 2px solid #ffffff;
              }

      .faro-foto img {
        width: 100%;
        max-width: 300px;   
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 auto;     
        border-radius: 8px; 
      }
      .Faro-fundador img {
        width: 60px;
        height: 60px;
        border-radius: 50%;  
        border: 2px solid var(--accent-green);
      }
            
/* Estilos para el menú hamburguesa responsivo */

.menu-label {
  display: none;
}

@media (max-width: 768px) {
  .menu-label {
    display: block;
  }
}


.menu-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
}


@media (max-width: 768px) {
  .menu-label {
    display: block;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #033b1e;
    text-align: center;
    gap: 1rem;
    padding: 1rem 0;
    z-index: 9;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    background-color: #033b1e;
    padding: 1rem 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .nav-links a {
    font-size: 1.2rem;
    color: var(--text-yellow);
  }
}


  main { background-color: var(--bg-light-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    padding: 1rem;
    margin-top: 70px;

  }
  
  #Servicio { 
    margin: 50px;
    padding:  3rem;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
   }

  .faro-info {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }

  .faro-info h1 {
    font-size: 48px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color: #ffe604;
    
  }
  .faro-info p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7;
    width: 70%;
    color: #fffffd;
    
  }

  .faro-info a {
    color: #fdfdfbab;
    background-color: #f1c40f;
    width: 120px;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 13px;
    text-align: center;
  }

  .faro-foto { 
    font-size: 0.80rem;
    width: 300px;
    padding: 1rem;
    background-color: #f1c40f;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .faro-foto-bottom { 
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
  }

  .faro-foto-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }

  .faro-foto-top h2 {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

    .faro-foto-top span {
      background-color: #053001;
      text-align: center;
      width: 50px;
      padding: 3px;
      font-size: 14px;
      border-radius: 4px;
    }

    .Faro-fundador {
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .fundador-info,
.Faro-inicios {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  font-weight: 400;
}


.intro {
  background-color: var(--bg-light-green);
  padding: 1rem ;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--text-white);
}

.intro-content {
  width: 70%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  gap: 1rem;
}


.intro p {
  font-size: 1.2rem;
  line-height: 1.3;
  color: var(--text-white);
  margin: 0;
  
}

@media (max-width: 768px) {
  #Servicio {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
  }

  .faro-info {
    align-items: center;
    text-align: center;
  }

  .faro-info h1,
  .faro-info p {
    width: 100%;
    min-width: unset;
  }

  .faro-foto {
    width: 90%;
    margin-top: 2rem;
  }

  .intro-content {
    padding: 1rem;
  }

  .intro p {
    margin-right: 0;
    font-size: 1rem;
  }

  .intro a {
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    height: auto;
    gap: 1rem;
    padding: 1rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .logo img {
    max-height: 100px;
  }
}

#productos{
  display: flex;
  padding: 70px 0;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  color: #f9f9f9;
}

#productos h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}

.product-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
}


.product-card {
  width: 300px;
  height: 290px;
  padding: 20px 30px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f1c40f;
  border-radius: 20px;  
  gap: 20px;
}

.product-card img {
  width: 50px;     
  height: auto;     
  display: block;
  margin: 0 auto;   
}

.product-card h3 {
  font-weight: 700;
  font-size: 18px;
}

.product-card p {
  font-size: 16px;
  font-weight: 600;

}

#discover {
  padding: 60px 0;
  background-color: var(--bg-light-green);
  color: var(--text-white);
  display: flex;
  justify-content: center;
}

.discover-info {
  max-width: 1200px;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  flex-wrap: wrap;
}

.discover-text {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.discover-text h2 {
  font-size: 2rem;
  font-weight: 600;
}

.discover-text p {
  font-size: 1rem;
  font-weight: 300;
}

.discover-text a {
  font-weight: 600;
  color: var(--accent-yellow);
  text-decoration: underline;
}

.discover-cards {
  flex: 1 1 55%;
  display: flex;
  gap: 14px;
  justify-content: center;
  flex-wrap: wrap;
}

.discover-cards img {
  width: 30%;
  min-width: 120px;
  border-radius: 10px;
}


/* Carrito */
#carrito {
  background-color: var(--bg-light-green); 
  color: var(--text-white);
  padding: 3rem 1rem;
  margin-top: 4rem;
  text-align: center;
}

#carrito h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--text-yellow);
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
}

.cart-item {
  background-color: #f1c40f;
  color: #2e2e2e;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cart-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-info img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid #033b1e;
}

.cart-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
}

.cart-price {
  font-size: 0.95rem;
  font-weight: 400;
  color: #033b1e;
  margin-top: 0.2rem;
}

.cart-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart-controls button {
  background-color: #033b1e;
  color: #ffffff;
  border: none;
  padding: 6px 12px;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-controls button:hover {
  background-color: #145c32;
}

.cart-controls span {
  font-size: 1.1rem;
  font-weight: bold;
}

.cart-summary {
  margin-top: 20px;
  padding: 1rem;
  background-color: #f1c40f;
  border-radius: 10px;
  text-align: center;
  color: #053001;
  font-weight: 600;
  font-size: 18px;
}

.cart-summary button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #053001;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mini-cart-summary button:hover {
  background-color: #074d02;
}

.mini-cart-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
  cursor: pointer;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
  margin-left: 1rem;
}


.mini-cart-label {
  display: flex;
  align-items: center ;
}

/*menu hamburguesa*/
#menu-toggle:checked  ~ .nav-links {
  display: flex;
}

/* MINI CARRITO SLIDER */

/* Carrito oculto por defecto */
.mini-cart {
  position: absolute;
  top: 50px;
  right: 0;
  height: calc(100vh- 50px);
  background: linear-gradient(to top, #0cdf058f, #01421c);
  border-left: 1px solid var(--text-yellow);
  color: #033b1e;
  padding: 50px 30 px;
  flex-direction: column;
  overflow-y: scroll;
  transition: right 0.4s ease-in-out;
  z-index: 2;
  display: none;
  gap: 30px;
}



.btn-add {
  background-color: #033b1e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  display: block;
  margin: 1rem auto 0;
}

.btn-add:hover {
  background-color: #145c32;
}

/* Estilos internos del carrito */
.cart h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

.cart-product {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background-color: #f1c40f;
  padding: 0.5rem;
  border-radius: 10px;
}

.cart-product img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid #033b1e;
}

.producto-info {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
}

.product-title {
  font-weight: 600;
}

.product-price {
  font-weight: bold;
}

.product-handler {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.3rem;
}

.quatity-handler,
.quantity-handler {
  background-color: #033b1e;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}



#contacto {
  background-color: var(--bg-light-green);
  color: var(--text-white);
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
}

.contacto-container {
  max-width: 500px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contacto-container h2 {
  font-size: 1.8rem;
  color: var(--accent-yellow);
}

.contacto-container p {
  font-size: 0.95rem;
  color: var(--text-white);
}

.contacto-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contacto-form input,
.contacto-form textarea {
  padding: 0.6rem;
  border-radius: 8px;
  border: none;
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  background-color: #f5ce0bfd;
  color:#4b4b4b;
}

.contacto-form textarea {
  resize: vertical;
}

.contacto-form button {
  background-color: #f5ce0bfd;
  color: var(--text-dark);
  padding: 0.6rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.contacto-form button:hover {
  background-color:#f5ce0bfd;
}


.footer {
  background-color: #032b15;
  color: var(--text-white);
  padding: 2rem 1rem;
  text-align: center;
  
}

.footer-logo {
  width: 150px;
  margin-bottom: 1rem;
}

.footer-redes {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-redes a {
  color: var(--accent-yellow);
  font-weight: 600;
  text-decoration: none;
}

.footer-redes a:hover {
  color: #f8f8f7;
}
